.footer__section {
  background: #1E2027;
  margin-top: 4.4375rem;
}

.main__footer {
  padding: 5rem 0 4rem;
}

/* @media only screen and (min-width: 768px) {
  .main__footer {
    padding: 19rem 0 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main__footer {
    padding: 20rem 0 8rem;
  }
} */

.footer__logo {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {
  .footer__logo {
    margin-bottom: 1.5rem;
  }
}

.footer__logo--img.dark-logo {
  display: none;
}

@media only screen and (max-width: 1199px) {
  .footer__widget {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .footer__widget {
    margin-bottom: 0;
  }
}

.footer__widget--title {
  font-size: 1.7rem;
  line-height: 2.4rem;
  position: relative;
  color: var(--color-white);
  margin-bottom: 2.4rem;
}

@media only screen and (min-width: 768px) {
  .footer__widget--title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .footer__widget--title {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__widget--title {
    font-size: 2rem;
  }
}

.footer__widget--title.about {
  display: none;
}

@media only screen and (max-width: 767px) {
  .footer__widget--title.about {
    display: block;
  }
}

.footer__widget--title__arrowdown--icon {
  position: absolute;
  right: 0;
  top: 38%;
  transition: 0.3s;
  display: none;
}

@media only screen and (max-width: 767px) {
  .footer__widget--title__arrowdown--icon {
    display: block;
  }
}

.footer__widget.active {
  padding-bottom: 3rem;
}

.footer__widget.active .footer__widget--title__arrowdown--icon {
  transform: rotate(180deg);
}

.footer__widget--button {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  content: "";
  color: transparent;
  border: 0;
  background-color: transparent;
}

@media only screen and (max-width: 767px) {
  .footer__widget--button {
    visibility: visible;
  }
}

.footer__widget--menu li {
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .footer__widget--menu li {
    margin-bottom: 2rem;
  }
}

.footer__widget--menu li:last-child {
  margin-bottom: 0;
}

.footer__widget--menu li a {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color-foreground);
}

.footer__widget--menu li a:hover {
  color: var(--color-hover);
}

.footer__widget--desc {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 0;
  color: var(--color-foreground);
}

@media only screen and (max-width: 767px) {
  .footer__widget--inner {
    display: none;
  }
}

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem 0;
}

.footer__bottom.section--padding {
  padding: 5rem 0;
}

@media only screen and (max-width: 767px) {
  .footer__bottom.section--padding {
    padding: 3rem 0;
  }
}

.footer__bottom--inner {
  gap: 2rem;
}

@media only screen and (max-width: 1199px) {
  .footer__bottom--inner {
    flex-direction: column;
  }
}

.footer__widget--info {
  margin-top: 2.5rem;
}

.footer__widget--info_list {
  font-size: 1.5rem;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.4rem;
}

.footer__widget--info_list:last-child {
  margin-bottom: 0;
}

.footer__widget--info_list svg {
  color: var(--color-hover);
}

.footer__widget--info_list p {
  color: var(--color-foreground);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.footer__widget--info_list a {
  color: var(--color-foreground);
}

.footer__widget--info_list a:hover {
  color: var(--color-hover);
}

.footer__widget--info_list.mb-20 {
  margin-bottom: 2rem;
}

.footer__social {
  gap: 2rem;
  padding-top: 0.6875rem;
  padding-left: 1.875rem;
}

.footer__social--icon {
  color: var(--color-white);
}

.footer__social--icon:hover {
  color: var(--color-hover);
}

.copyright__content {
  font-size: 1.5rem;
  color: var(--color-foreground);
}

@media only screen and (max-width: 1199px) {
  .copyright__content {
    text-align: center;
  }
}

.copyright__content a:hover {
  color: var(--color-hover);
}

.footer__bottom--menu li {
  position: relative;
  margin-right: 1.5rem;
  padding-right: 1.5rem;
}

.footer__bottom--menu li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.footer__bottom--menu li:last-child::before {
  display: none;
}

.footer__bottom--menu li::before {
  position: absolute;
  content: "";
  width: 0.1rem;
  height: 2rem;
  background: rgba(255, 255, 255, 0.3);
  right: 0;
  top: 50%;
  transform: translatey(-50%);
}

.footer__bottom--menu li a {
  color: var(--color-foreground);
  font-size: 1.5rem;
}

.footer__bottom--menu li a:hover {
  color: var(--color-hover);
}

@media only screen and (max-width: 479px) {
  .footer__bottom--menu li a {
    font-size: 1.4rem;
  }
}

.footer__widget--inner.newsletter {
  background: #22242B;
  padding: 3rem 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.email__except {
  position: relative;
  margin-bottom: 2.5rem;
}

.email__except--label {
  cursor: pointer;
  display: block;
  color: var(--color-foreground);
  padding-left: 3.5rem;
  font-size: 1.5rem;
}

.email__except--check__input {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  opacity: 0;
  cursor: pointer;
  z-index: 999;
  width: 2.2rem;
  height: 2.2rem;
}

.email__except--check__input:checked~.email__except--checkmark {
  background-color: var(--color-hover);
  border: 1px solid var(--color-hover);
}

.email__except--check__input:checked~.email__except--checkmark::before {
  display: block;
}

.email__except--checkmark {
  height: 2.2rem;
  width: 2.2rem;
  border: 1px solid #4E545F;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  transition: var(--transition);
}

.email__except--checkmark::before {
  right: 0.7rem;
  top: 0.4rem;
  width: 0.6rem;
  height: 1rem;
  border: solid white;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}

.newsletter__subscribe--form {
  position: relative;
  border-bottom: 1px solid rgba(242, 242, 242, 0.07);
  margin-bottom: 2.2rem;
  padding-bottom: 0.5rem;
}

.newsletter__subscribe--form label {
  width: 100%;
}

.newsletter__subscribe--input {
  background: inherit;
  border: 0;
  height: 4.5rem;
  width: 100%;
  font-size: 1.5rem;
  color: var(--color-foreground);
}

.newsletter__subscribe--button {
  position: absolute;
  right: 0;
  height: 100%;
  background: inherit;
  border: 0;
  color: var(--color-white);
  top: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.newsletter__subscribe--button:hover {
  color: var(--color-hover);
}